/*

Add styles or override variables from the theme here.

*/

$primary:                   #46812B;
$secondary:                 #67AE3E;

$info:                      #F37021;
$warning:                   #FF0000;

$enable-gradients:          true;
$enable-rounded:            true;
$enable-shadows:            true;

$link-color:                #46812B;
$link-decoration:           none !default;
$link-hover-color:          #F37021;
$link-hover-decoration:     none !default;

$navbar-dark-hover-color:   #F37021;
$navbar-light-hover-color:  #F37021;